/*body barvaa*/



/*nadpis h1*/

  
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px 10px;
    color: blue;
    text-align: center;
    margin-left:100px;
    margin-right: 100px;
  }


 



  /*HR čáry*/
  hr {
    border-width: 0px;
    color: grey;
    background-color: grey  ;
    height: 4px;
    margin-left: 50px;
    margin-right: 50px;
  }



  /*hra na uvodni strance*/
.gametextstyle {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;

    /*BORDER*/
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: 200px;  
    padding: 20px;
    text-align: center;
    outline-offset: 2px;

    
    background-color: bisque;
}


.pvindex {
  color:white;
  margin:25px;
}

/*game1.php*/
.gametextstylee {
  font-family: Arial, sans-serif;
  text-align:center;
  background-color: rgb(163, 70, 124);
  border: 2px solid gray;
  outline: greenyellow solid 10px;
  font-size: 45px;

  background-color: bisque;

  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 100px;

}

/*text u hardgamestranka.php*/
.texthard {
  color:rgb(92, 5, 5);
  margin:25px;
  text-align: center;
  font-size: 40px;

}

/*text na stránku hra1.php*/
.maintext {
  text-align: center;
  font-size: 25px;

}


/*Styl HARD HÁDEJ ČÍSLO*/
.hardgamestyle {
  font-family: Arial, sans-serif;
  text-align:center;
  background-color: rgb(255, 7, 152);
  border: 10px solid black;
  outline: rgb(129, 0, 0) solid 10px;
  font-size: 45px;

  background-color: rgb(240, 51, 51);

  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;


}






/* Menu Styles */
.menu {
  text-align: center;

}

/*maintext v menu*/
.indextext{
  background-color: rgb(39, 39, 39);
  margin: 25px;
  border: 2px solid gray;
  outline: blueviolet solid 10px;

}






/* tlačítka v menu */
a:link, a:visited {
  background-color: white;
  color: black;
  border: 3px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none ;
  display: inline-block;
}
/*Aktivace tlačítka*/
a:hover, a:active {
  background-color: green;
  color: white;
}

